/* Ensure the parent container uses flex layout */
.tab-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 96%;
  min-width: 375px;
}

/* Add a wrapper for the fixture calendar to ensure full width */
.fixture-calendar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

.fixture-calendar {
  width: 100%;
  max-width: 100%; /* Ensure it can take full width */
}

.calendar-container {
  width: 100%;
  max-width: 900px;
  height: 60vh; /* 60% of the viewport height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
  border-radius: 8px; /* Optional rounded corners */
  overflow: hidden; /* Ensure no overflow */
}

.rbc-calendar {
  background-color: #0198932b;
  border: 3px solid aqua;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(2, 187, 197);
  width: 100%;
}

.rbc-toolbar {
  padding: 8px;
}

.rbc-header {
  background-color: #01e4ab;
  color: rgb(1, 74, 78);
  font-weight: bold;
}

.rbc-btn-group {
  background-color: #02fac0c3;
  border: 2px solid rgb(6, 91, 93);
  color: rgb(0, 5, 5);
}

.rbc-event {
  background-color: #012e5535;
  border-radius: 2px;
  font-size: 8px;
}

.custom-day-wrapper {
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  color: #000; /* Ensure text is visible */
}

.custom-day-wrapper.has-fixtures {
  background-color: rgba(1, 228, 171, 0.391);
  color: aqua;
  animation: pulse 2.5s infinite;
}

.custom-day-wrapper:hover {
  background-color: rgba(1, 228, 171, 0.5); /* Slightly darker green */
}

.rbc-day-bg:hover {
  background-color: rgba(1, 228, 171, 0.845);
}

.rbc-today {
  background-color: rgba(0, 242, 255, 0.94);
}

.current-day {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #00f2ff3b;
  }
  50% {
    background-color: #04eff77d;
  }
  100% {
    background-color: #02282e37;
  }
}

/* Remove yellow highlight (outline) from all clickable elements */
button,
input[type="button"],
input[type="submit"],
a,
select,
textarea {
  outline: none;
}
