/* Dropdown Menu Styling */
.dropdown-menu {
  grid-column: 1 / -1; /* Span all columns */
  background-color: #062b62; /* Match the background color */
  padding: 10px 10px 10px 20px; /* Match the padding */
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  font-size: 10px;
}

/* Dropdown Menu Open */
.dropdown-menu.open {
  display: grid;
  grid-template-columns: 50px 1fr auto 1fr auto; /* Ensure columns fit content */
  align-items: center;
  min-width: 300px;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 2px;
  border: 2px solid #ffffff;
  border-top: none;
  border-radius: 5px;
  background-color: #092663;
  gap: 25px; /* Add some spacing between columns */
  position: relative;
  overflow: hidden;
}

/* Ensure dropdown items fit within grid */
.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center; /* Center items */
}



/* Score input styling */
.score-input {
  max-width: 50px;
  background: 
    #000000; 
  box-shadow: 0 0 5px #00fdd7; /* Uniform box-shadow */
  border: none; /* Ensure border does not interfere */
  border-radius: 5px;
  color: #ffffff; /* Default text color */
  padding: 5px;
  font-size: 12px; /* Adjust font size as needed */
  outline: none;
}

/* On hover */
.score-input:hover {
  background: #0a1060; /* Light teal color */
  color: #004d00; /* Dark green text color */
  box-shadow: 0 0 10px #dedede; /* Increased box-shadow intensity */
  animation: boxShadowAnimation 1s ease-in-out infinite; /* Ensure infinite animation on hover */
}

/* On focus */
.score-input:focus {
  background: #232525; /* Light teal color */
  color: #ffffff; /* Dark green text color */
  box-shadow: 0 0 10px #00fdd7;
  outline: none; /* Remove default outline */
}

/* Remove transitions after input */
.score-input:focus:not(:placeholder-shown) {
  transition: none; /* Disable transition effects when input is focused and has text */
  box-shadow: 0 0 5px #6f7271; /* Ensure box-shadow is uniform when input is not empty */
  animation: none; /* Disable animation when input has text */
}

.dropdown-text {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 4px;
}

.dropdown-home {
  justify-self: end;
}

.dropdown-home,
.dropdown-away {
  color: #f8fafa;
}

.dropdown-vs {
  text-align: center;
  color: #ffffff;
  font-size: 22px;
}

.prediction-box {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000000fc;
  cursor: pointer;
}

.prediction-box:hover {
  background-color: #7b7c7cfc;
  box-shadow: 0 0 10px rgb(87, 89, 89);
}

.prediction-box img {
  width: 20px;
  height: 20px;
}

.prediction-box.confirmed {
  background-color: #040404;
}

.dropdown-container {
  grid-column: 1 / -1; /* Span all columns */
}

/* Media queries for responsive text size */
@media (max-width: 480px) {
  .dropdowns-container {
    padding: 0px;
    margin: 20px 3px;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .dropdown-time {
    font-size: 12px; /* Adjust the font size as needed */
  }

  .dropdown-home,
  .dropdown-away,
  .dropdown-vs {
    font-size: 12px; /* Adjust the font size as needed */
  }
}
