.fixtures-container {
  align-items: center;
  margin: 20px;
  max-width: 600px;
}

.fixtures-container h4 {
  text-align: center;
  margin-top: 0px;
  color: #0af2c0;
}

.fixtures-list {
  list-style: none;
  padding: 0;
  position: relative;
}

.fixture-item {
  display: grid;
  grid-template-columns: 50px 1fr auto 1fr auto;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 2px;
  /* border: 2px solid #03e9c7; */
  background-color: #0f554b5d;
  gap: 20px; /* Add some spacing between columns */
  clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 26px);
  position: relative;
}

.fixture-item span {
  min-width: 40px;
  margin-bottom: -4px;
}

.fixture-item:last-child {
  border-bottom: none;
}

.fixture-time {
  font-weight: bold;
  color: #009b87;
  text-align: center;
}

.fixture-home,
.fixture-away {
  color: #02fcd2;
}

.fixture-vs {
  text-align: center;
  color: #ffffff;
}

.prediction-box {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000000fc;
  cursor: pointer;
}

.prediction-box img {
  width: 20px;
  height: 20px;
}

.prediction-box.confirmed {
  background-color: #040404;
}

.dropdown-container {
  grid-column: 1 / -1; /* Span all columns */
}

/* Media queries for responsive text size */
@media (max-width: 480px) {
  .fixtures-container {
    padding: 0px;
    margin: 20px 3px;
  }

  .fixture-item {
    font-size: 14px; /* Adjust the font size as needed */
  }

  .fixture-time {
    font-size: 12px; /* Adjust the font size as needed */
  }

  .fixture-home,
  .fixture-away,
  .fixture-vs {
    font-size: 12px; /* Adjust the font size as needed */
  }
}
