.fixtures-container {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  margin: 20px;

  width: 369px;
}

.fixtures-container h5 {
  text-align: center;
  margin-top: 0px;
  color: #1ab5ab;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Adjust as needed */
  position: relative;
}

.nav-button {
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
  background: transparent;
  border: 10px solid transparent; /* Adjust size */
}

.nav-prev {
  border-right-color: #00ffbf;
}

.nav-next {
  border-left-color: #00ffbf;
}

.nav-prev {
  border-width: 10px 15px 10px 0;
}

.nav-next {
  border-width: 10px 0 10px 15px;
}

.nav-button:hover {
  border-color: #fee501;
}

.nav-button:disabled {
  border-color: #c0c0c0;
  cursor: not-allowed;
}

.fixtures-list {
  list-style: none;
  padding: 0;
  position: relative;
}

.fixture-item {
  font-size: 12px;
  display: grid;
  grid-template-columns: 50px 1fr auto 1fr auto;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 2px;
  /* border: 2px solid #03e9c7; */
  background-color: #0f554b5d;
  gap: 20px; /* Add some spacing between columns */
  clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 26px);
  position: relative;
}

.fixture-item span {
  min-width: 40px;
  margin-bottom: -4px;
}

.fixture-item:last-child {
  border-bottom: none;
}

.fixture-time {
  font-weight: bold;
  color: #02fad9;
  text-align: center;
}

.fixture-home {
  justify-self: end;
}

.fixture-home,
.fixture-away {
  color: #09e1b2;
}

.fixture-vs {
  text-align: center;
  color: #babbbc;
}

.prediction-box {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000000fc;
  cursor: pointer;
}

.prediction-box img {
  width: 20px;
  height: 20px;
}

.prediction-box.confirmed {
  background-color: #040404;
}

.dropdown-container {
  grid-column: 1 / -1; /* Span all columns */
}

/* Media queries for responsive text size */
@media (max-width: 480px) {
  .fixtures-container {
    padding: 0px;
    margin: 20px 3px;
  }

  .fixture-time {
    font-size: 12px; /* Adjust the font size as needed */
  }

  .fixture-home,
  .fixture-away,
  .fixture-vs {
    font-size: 12px; /* Adjust the font size as needed */
  }
}
