/* General container styling */
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}



/* Form styling */
.auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  position: relative;
}

.auth-form > * {
  margin-bottom: 0px;
}

.auth-form input {
  padding: 10px;
 
  background-color: rgba(15, 15, 15, 1);
  color: #ffffff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.auth-form input::placeholder {
  color: rgba(255, 213, 62, 0.83);
}

.auth-form input::before {
  content: attr(placeholder);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
 
  pointer-events: none; /* Prevents the pseudo-element from blocking input field interactions */
}



.auth-btn {
  color: #ffffff;
  background-color: rgb(1, 51, 82);
  border: none;
  padding: 12px;
  margin-bottom: 0px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.auth-btn:hover {
  background-color: rgb(1, 14, 33);
}

.auth-form h4 {
  text-align: center;
  margin-bottom: 20px;
}

/* Specific styling for form groups */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-group label {
  margin: 8px 0px 8px;
  color: #024aff;
}

/* Error message styling */
.error {
  color: rgb(255, 225, 0);
  text-align: center;
}

/* Modal overlay and content styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(13, 21, 39);
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0340a9;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}



@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Logout specific styling */
.logout-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  color: #a4fcff;
  background-color: rgba(1, 146, 131, 0.991);
}

@media (max-width: 480px) {
  .auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: rotateBoxShadow 5s infinite linear;
    position: relative;
  }
}
