.leaderboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.leaderboard-container {
  width: 100%;
  max-width: 900px;
  padding: 10px;
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
  box-sizing: border-box;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #0ca29f0e;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 4px;
  border: 1px solid #02fbcd00;
  border-radius: 5px;
  box-sizing: border-box;
}

.leaderboard-table th {
  font-weight: bold;
  color: #0ef1e6;
  font-size: 1em;
}
.leaderboard-table th:hover {
  font-weight: bold;
  color: #203534;
  font-size: 1em;
}

.leaderboard-table th.position,
.leaderboard-table th.score,
.leaderboard-table td.position,
.leaderboard-table td.score {
  width: 35px; /* Adjust this value as needed */
  text-align: center; /* Center horizontally */
  vertical-align: middle; /* Center vertically */
}

.correct-scores {
  width: 20%;
  text-align: center;
}

.correct-outcomes {
  width: 20%;
  text-align: center;
}

.user-score {
  width: 10%;
}

.leaderboard-table th.name,
.leaderboard-table td.name {
  width: auto; /* Let the name column take the remaining space */
  position: relative; /* For absolute positioning of icons */
}

.leaderboard-table tr:nth-child(even) {
  background-color: #012338f3;
  color: #09efff;
}

.leaderboard-table tr:nth-child(odd) {
  background-color: #070707c9;
  color: #03ffcd;
}

.leaderboard-table tr:hover {
  background-color: #00ffbf;
  color: #04394c;
}

.leadbrd-btn {
  color: #0ef1e9;
  padding: 8px 16px; /* Adjust padding for better touch targets */
  margin: 10px 0; /* Add margin for spacing */
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #1c1414;
  transition: background-color 0.9s ease;
}

.leadbrd-btn:hover {
  background-color: #04394c;
  color: #06c0fe;
  transition: background-color 0.9s ease;
}

.movement-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px; /* Adjust this value as needed */
  top: 50%;
  transform: translateY(-50%);
}

.profile-pic {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 10%;
  margin-right: 10px; /* Space between profile pic and name */
  vertical-align: middle;
  object-fit: cover;
  border: 1px solid #0feadfb9;
}
.profile-pic:hover {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 10%;
  margin-right: 10px; /* Space between profile pic and name */
  vertical-align: middle;
  object-fit: cover;
  border: 2px solid #04394c;
}

/* Leaderboard.css */
.movement-icon {
  width: 24px; /* Size of the GIF */
  height: 24px; /* Size of the GIF */
  margin-left: 10px; /* Spacing between username and GIF */
  vertical-align: middle; /* Aligns GIF with text */
}

/* Responsive Styling */
@media (max-width: 680px) {
  .leaderboard-container {
    min-width: 320px;
    width: 100%;
    padding: 10px; /* Add padding for smaller screens */
  }
  .leaderboard-table th {
    font-size: 0.8em; /* Adjust font size for smaller screens */
  }
  .leaderboard-table th,
  .leaderboard-table td {
    padding: 8px;
    font-size: 0.8em;
  }

  .leadbrd-btn {
    padding: 6px 12px; /* Adjust padding for smaller screens */
    margin: 5px 0; /* Reduce margin for smaller screens */
  }

  .profile-pic {
    width: 30px; /* Adjust size for smaller screens */
    height: 30px;
    margin-right: 5px; /* Adjust margin for smaller screens */
  }
}

@media (max-width: 420px) {
  .leaderboard-container {
    width: 100%;
  }
  .leaderboard-table th {
    font-size: 0.8em; /* Further adjust font size for very small screens */
  }
  .leaderboard-table th,
  .leaderboard-table td {
    padding: 6px;
    font-size: 10px;
  }

  .leadbrd-btn {
    padding: 4px 8px; /* Further adjust padding for very small screens */
    margin: 3px 0; /* Reduce margin further */
  }

  .profile-pic {
    width: 25px; /* Adjust size for very small screens */
    height: 25px;
    margin-right: 3px; /* Adjust margin further */
  }

  @keyframes flash {
    0%,
    100% {
      border-color: gold;
      background-color: gold;
    }
    50% {
      border-color: yellow;
      background-color: #aa5d00;
    }
  }

  .leaderboard-table tr.top-six {
    animation: flash 2.5s infinite;
  }

  @media (max-width: 420px) {
    .leaderboard-table tr.top-six {
      animation: flash 2s infinite; /* Faster animation for smaller screens */
    }
  }
}
