.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px; /* Set a fixed height */
  padding: 0 20px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #000707; 
}

.navbar img {
  max-height: 50%; /* Ensure image fits within the navbar height */
  width: auto; /* Maintain aspect ratio */
  margin: 0; /* Reset any default margins */
  display: center;
}

.navbar p {
  position: absolute;
  margin-left: 80px;
}

.navbar::before {
  content: "";
  position: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2mm;
  background-color: rgba(0, 255, 247, 0);
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2mm;
  
}

.navbar-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 10px;
}

.menu-list-item {
  font-size: 12px;
  padding: 2px;
}

.menu-list-item a {
  padding: 2px;
  color: inherit;
  text-decoration: none;
}

.navbar-menu a:hover {
  color: rgb(252, 252, 252);
  background-color: #ffffff;
  border-radius: 2px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: #e8e9e9;
  margin: 4px 0;
  transition: 0.4s;
}

/* Add this to your Navbar.css */
.update-button {
  background-color: #023765bc;
  color: rgb(241, 234, 214);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #e46301;
}

@media (max-width: 1040px) {
  .burger-menu {
    display: flex; /* Show burger menu on smaller screens */
  }

  .navbar-menu {
    display: none; /* Hide navbar menu by default on smaller screens */
    flex-direction: column;
    position: absolute; /* Position absolutely */
    top: 81px; /* Below the navbar */
    right: 0;
    width: 200px; /* Full width */
    border-radius: 6px;
    margin-right: 10px;
    z-index: 999; /* Ensure it is on top */
  }

  .navbar-menu.active {
    display: flex; /* Show navbar menu when active on smaller screens */
  }
}
