@keyframes pulseBorder {
  0% {
    border-color: rgba(5, 245, 221, 0.899);
    box-shadow: 0 0 5px rgba(5, 245, 221, 0.2), 0 0 10px rgba(5, 245, 221, 0.2),
      0 0 10px rgba(5, 245, 221, 0.2);
  }
  50% {
    border-color: rgba(5, 245, 221, 0.97);
    box-shadow: 0 0 10px rgba(5, 245, 221, 0.8), 0 0 10px rgba(5, 245, 221, 0.8),
      0 0 7px rgba(5, 245, 221, 0.8);
  }
  100% {
    border-color: rgba(5, 245, 221, 0.924);
    box-shadow: 0 0 5px rgba(5, 245, 221, 0.2), 0 0 10px rgba(5, 245, 221, 0.2),
      0 0 7px rgba(5, 245, 221, 0.2);
  }
}

@keyframes randomPulse {
  0% {
    border-color: rgba(9, 241, 187, 0.938);
    box-shadow: 0 0 5px rgba(1, 100, 100, 0.2), 0 0 15px rgba(1, 100, 100, 0.2),
      0 0 10px rgba(1, 100, 100, 0.2);
  }
  50% {
    border-color: rgba(8, 234, 234, 0.935);
    box-shadow: 0 0 10px rgba(1, 100, 100, 0.8), 0 0 30px rgba(1, 100, 100, 0.8),
      0 0 5px rgba(1, 100, 100, 0.8);
  }
  100% {
    border-color: rgba(9, 243, 188, 0.879);
    box-shadow: 0 0 5px rgba(1, 100, 100, 0.2), 0 0 15px rgba(1, 100, 100, 0.2),
      0 0 5px rgba(1, 100, 100, 0.2);
  }
}

.user-profile {
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  border: 3px solid rgba(5, 245, 221, 0.957);
  border-radius: 2px;
  margin-bottom: 10px;
  width: 95%;
  max-width: 900px;
  animation: pulseBorder 18s infinite;
  overflow: hidden;
}

.profile-pic-home {
  margin: 6px;
  border: 2px solid rgba(4, 250, 250, 0.993);
  border-radius: 2px;
  animation: randomPulse 16s infinite;
}

.profile-pic-home img {
  height: 100%;
}

.user-info {
  margin: 6px;
  margin-right: 34px;
  margin-bottom: 10px;
  width: 100%;
  color: rgb(167, 254, 227);
}

.user-info-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 10px 0px 10px;
  position: relative;
  height: 29%;
  width: 100%;
  margin: 7px;
  background-color: rgba(11, 92, 92, 0.815);
  clip-path: polygon(27px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
}

.user-info-item::before {
  content: "";
  position: absolute;
  top: -2px; /* Adjust to match the border width */
  left: -2px; /* Adjust to match the border width */
  width: 25px; /* Adjust size as needed */
  height: 25px; /* Adjust size as needed */
  background-color: rgba(0, 0, 0, 0.945); /* Match the background color */
  border-top: 2px solid aqua;
  border-left: 2px solid aqua;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.animation-container {
  text-align: center;
}

.animation-container img {
  height: 100%;
  max-width: 280px;
  margin: 5px;
}
.label {
  padding: 8px;
  padding-left: 20px;
}
.value {
  padding: 8px;
}
@media (max-width: 500px) {
  .animation-container {
    position: absolute; /* Ensure it's positioned absolutely */
    left: 9%; /* Center horizontally */
    bottom: -60%;
    z-index: -1; /* Place it behind the profile */
  }
  .animation-container img {
    max-width: 100%;

    margin: 5px;
  }

  .user-profile {
    position: relative;
    height: 100px;
    /* Adjust positioning */
    z-index: 1; /* Ensure it stays above the animation */
  }

  .user-info-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 10px 0px 10px;
    position: relative;
    height: 29%;
    width: 100%;
    margin: 4px;
    background-color: rgba(11, 92, 92, 0.815);
    clip-path: polygon(27px 0, 100% 0, 100% 100%, 0 100%, 0 30px);
  }

  .label {
    padding: 0px;
    padding-left: 20px;
  }
  .value {
    padding: 0px;
  }
}
