.rules-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.gif-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.gif-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -2; /* Adjust this value to make the GIF more or less visible */
}

.rules-content {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.Rules-container {
  color: #fefefe;
  font-size: 9px;
  background-color: rgba(0, 0, 0, 0.63);
  padding: 20px;
  border-radius: 10px;
}

/* Your existing styles for h3, h5, .highlighted-text, etc. */
