.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.tabs-container {
  max-width: 900px;
  height: 100%;
  background-color: rgb(6, 23, 34);
  background-size: 400% 400%;
  border-radius: 1px; /* Optional: adds rounded corners */
  z-index: 1;
}
s .tab-buttons {
  background-color: rgb(3, 2, 2);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; /* Align buttons to the right */
  position: relative;
  margin: 0px 10px;
  width: 96%;
  z-index: 2;
}

.tab-button {
  color: rgb(254, 254, 254);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  background-color: rgb(3, 26, 26);
  padding: 0px 10px;
  font-size: 14px;
  outline: none; /* Remove default focus outline */
  position: relative;
}

.tab-button:hover {
  color: rgb(3, 110, 105);
}

.tab-button:focus {
  outline: none; /* Remove yellow default border highlight */
}


@media (max-width: 500px) {
  .tab-button {
    padding: 5px;
    width: 90px;
  }
}
