.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tabs-container {
  width: 100%;
  max-width: 900px;
  height: 100%; /* Adjust this to the appropriate height */
  background: linear-gradient(
    270deg,
    #3a7bd500,
    #134a664a,
    #00c8ff49,
    #00ffe566
  );
  background-size: 400% 400%;
  animation: wave 40s ease-in-out infinite;
  border-radius: 1px; /* Optional: adds rounded corners */
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.7);
  margin: 10px;
}
s .tab-buttons {
  background-color: rgb(3, 2, 2);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; /* Align buttons to the right */
  position: relative;
  margin: 0px 10px;
  width: 96%;
}

.tab-button {
  color: aquamarine;
  border: 2px solid aqua;
  border-radius: 2px;
  background-color: rgba(11, 92, 92, 0.815);
  /* clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 26px); */
  padding: 0px 20px;
  font-size: 14px;
  transition: all 2s ease; /* 2-second transition */
  outline: none; /* Remove default focus outline */
  position: relative;
}

.tab-button:hover {
  color: rgb(3, 110, 105);
}

.tab-button:focus {
  outline: none; /* Remove yellow default border highlight */
}

.tab-button.active {
  width: 100px;
  font-size: 11px;
  height: 45px;
}

.tab-button:not(.active) {
  height: 35px; /* Set the height for inactive tabs */
  font-size: 8px;
  opacity: 0.8;
}
@media (max-width: 500px) {
  .tab-button {
    padding: 5px;
    width: 90px;
  }
}
