/* User Predictions Container */
.user-predictions-container {
  background-color: #022e365d; /* Match the background color */
  padding: 10px;
  border-radius: 3px; /* Match border-radius */
  border: 2px solid #00fdd7; /* Match border color */
  margin-bottom: 2px; /* Space between predictions */
  font-size: 10px; /* Match font size */
  clip-path: polygon(25px 0, 100% 0, 100% 100%, 0 100%, 0 26px);
  padding-left: 20px;
}
.user-predictions-container ul {
  padding: 0px;
}
/* Prediction Item Styling */
.user-prediction-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #00fdd7;
  margin-bottom: 5px;
  border-radius: 2px;
}

/* Prediction Details */
.prediction-details {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto;
  padding-left: 5px;
  width: 100%;
  font-size: 14px;
  align-items: center;
}

.prediction-info {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.user-profile-CP {
  width: 45px;
}

.profile-picture-CP {
  height: 50px;
  border: 2px solid rgb(5, 169, 136);
  object-fit: cover;
  overflow: hidden;
}

.prediction-details h4,
.prediction-details p {
  display: flex;
  flex-direction: column;
  margin: 14px;
  color: #03c9ae;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.score-digit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pred-H4 {
  display: flex;
  flex-direction: column;
  margin: -2px 4px 4px;
  color: #00ffdd;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 86, 59);
  width: 100%;
}

.outcome-box {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000000fc;
  font-size: 16px;
}
